
.table{
    background-color: #1F1A36;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: .5rem; 
    margin-block: 1rem;
    font-size: 12px;
    z-index: 2000;
   
}

.table__head{
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #9a02ac;
    padding-bottom: .5rem;
    
}

.btn{
    background: transparent;
    border: 0;
    color: #9a02ac;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease;
}

.btn:hover{
    color: #fff;
}

.numberOfTrans{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.dataTable{
    display: grid;
    grid-template-columns: 15rem repeat(16, 5rem);
    align-items: center;
    gap: 1rem;
    font-size: 10px;
    overflow-x: auto;
}

.dataTable::-webkit-scrollbar {
    width: 1em;
}

.dataTable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #9a02ac;
    border-radius: 1rem;
    cursor: pointer;
}

.dataTable::-webkit-scrollbar-thumb {
    background-color: #9a02ac;
    outline: 1px solid slategrey;
    border-radius: 1rem;
    
  }

  .tableTitle p{
    font-size: 12px;
    font-weight: 700;
    color: #9a02ac;
  }

.transHash{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.toLink{
    cursor: pointer;
    color: #9a02ac;
}

.primary{
    color: #9a02ac;
    cursor: pointer;
}


/* ERC20/////////////////////////// */
.sorry{
    text-align: center;
}

@media screen and (max-width: 35em){

    .table__head{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        justify-content: start;
        align-items: center;
    }
    .dataTable{
        overflow-x: auto;
    }
    
}