
.accountDIV{
    width: 95%;
    margin: 0 auto;
    position: relative;
   
}
.container{
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.box{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
    background-color: #1F1A36;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    overflow: hidden;
}

.account{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.box span{
    margin-left: 1rem;
    font-weight: 600;
    color: #9a02ac;
}

.owner{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: .8rem;
}

.owner p{
    padding: .5rem 1rem;
    background-color: #9a02ac;
    align-items: center;
    border-radius: .5rem;
    font-weight: 700;
    display: flex;
}

/* /////////////////////////////////// */
.overviewBox{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    line-height: 1;
    font-size: 14px;
}

.overview{
    background-color: #1F1A36;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
}

.overviewTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid #9a02ac;
}

.miner{
    border: 1px solid #9a02ac;
    padding: .5rem;
    border-radius: .5rem;
}

.accountBalance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}
.accountValue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}



/*  */
.color{
    background-color: #9a02ac;
    padding: .5rem;
    border-radius: .5rem;
}

.branding{
    background-color: #1F1A36;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem; text-align: center;
    line-height: 1.3;
}

.btnContainer{
    margin-bottom: 4rem;
    position:relative;
    text-align: center;
    margin-top: 4rem;
}

.btnContainer h1{
    font-size: 4rem;
    line-height: 1;
    color: #fff;
    /* ////////////////////// */
}
.openBtn{
    background-color: #1F1A36;
    border: none;
    padding: 1rem 2rem;

    border-radius: .2rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

.loading{
    background-color: #1F1A36;
    padding: .5rem;
    color: #fff;
    border-radius: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* /////////////////////////////////////// */

.tokenBtn{
    position: absolute;
    top: 7.5rem;
    left: -9rem;
    display: grid;
    gap: 1rem;
    place-content: start;
}

.tokenBtn button{
    background-color: #1F1A36;
    cursor: pointer;
    color: #fff;
    padding: .5rem 1rem;
    border: 0;
    border-radius: .3rem;
}

.overlay{
    top: -2rem;
    left: -13rem;
    position: fixed;
    background-color: #9a02ac;
    height: 120vh;
    width: 120vw;
    overflow: hidden;
}

.inputModelCloseBtn{
    position: absolute;
    top: 20%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 222;
    background-color: #1F1A36;
    border: none;
    padding: .5rem 1rem;
    color: #fff;
    font-size: 16px;
    border-radius: .3rem;
    cursor: pointer;

}

.inputAddrss{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formInput{
    background-color: #1F1A36;
    padding: .5rem;
    color: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.formInput input{
    background-color: transparent;
    border: 0;
    outline: none;
    padding: .5rem;
    color: #fff;
    width: 15rem;
}

.formInput button{
    background-color: transparent;
    color: #fff;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width: 35em){
    .accountDIV{
        width: 100%;
    }
    .container{
        width: 95%;
    }
    .btnContainer h1{
       font-size: 2.5rem;
    }

    .box{
        display: grid;
        overflow: hidden;
    }

    .box span{
        margin-left: 0rem;
    }
    .account{
        flex-direction: column;
        padding-top: 1rem;
        gap: 0;
    }
    .account p{
        margin-top: 1rem;
        text-align: center;
    }
    .owner{
        padding-inline: 2rem;
    }
    .overviewBox{
        grid-template-columns: 1fr;
    }
}