
.block{
    width: 80%;
    margin: 0 auto;
    margin-block: 2rem ;
}

.box__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box__header h3{
    color: #fff;
    background-color: #1F1A36;
    padding: 1rem;
    border-radius: .5rem;
}

.box__header p{
    background-color: #1F1A36;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 700;
}

.blockBtn{
    background-color: #1F1A36;
    display: flex;
    gap: 1.5rem;
    justify-content: start;
    margin-left: -.5rem;
    border-bottom: 1px solid  #9a02ac;
    padding-bottom: .5rem;
    
}

.blockBtn button{
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.blockTable{
    background-color: #1F1A36;
    margin-block: 2rem;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.dataRow{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 12px;
    overflow: hidden;
}

.color{
    color: #9a02ac;
    cursor: pointer;
}

@media screen and (max-width: 35em){
    .box__header p {
       display: none;
    }
    

}