
.navbar{
    width: 85%;
    margin: 0 auto;
    background-color: #1F1A36;
    color: #9a02ac;
    margin-block: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;

}

.left h1{
    line-height: 0%;
    color: #fff;
    transform: skewX(-25deg);
    text-transform: uppercase;
    background-color: #9a02ac;
    position: relative;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.left h1:hover{
    color: #9a02ac;
}

.right {
    position: relative;
}

.right button{
    color: #9a02ac;
    background: transparent;
    padding: .5rem;
    border: 1px solid #9a02ac;
    border-radius: .5rem;
    font-weight: 700;
    cursor: pointer;
}

.connected{
    position: relative;
}

.userModal{
    position: absolute;
    top: 4rem;
    right: 0;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #1F1A36;
    width: 15rem;
}

.user_box{
    text-align: center;
    position: relative;
}

.closeBtn{
    position: absolute;
   right: 0;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    transition: all .2s ease-in-out;

}

.closeBtn:hover{
    transform: rotate(-45deg);
}


/* ////////////////////////////////////// */
/* //PRICE */

.price{
    width: 85%;
    margin: 0 auto;
    color: #9a02ac;
    margin-block: 1rem;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
}

.price__box{
    background-color: #1F1A36;
    border-radius: .5rem;
    display: flex;
    padding-left: 1rem;
    line-height: .2;
    align-items: center;
    gap: 2rem;
}

.etherPrice{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.price__box h4{
    font-size: 1.2rem;
    color: #fff;
}

.price__box p {
    line-height: .5;
    font-weight: 600;
}

.supplyEther{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.supplyIcon{
    font-size: 3rem;
}


.logoWidth{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-left: 1px solid #9a02ac;
    /* gap: 2rem; */
    text-align: center;
    
    padding-left: 2.5rem;
}

.logoWidth p{
    line-height: 1.3;
    margin-right: 1rem;
    font-size: 1.1rem;
    color: #fff;
    background-color: #9a02ac;
    padding: 1rem 0;
    border-radius: .2rem;

}


/* /////////////////////////////////// */

@media screen and (max-width: 45em){
   .navbar__container{
    display: grid;
    gap: .5rem;
    padding: 1rem;
    /* text-align: center; */
   }
   .price{
    grid-template-columns: 1fr;
    padding: 0;
   }
   .price__box{
    display: grid;
   }
   .etherPrice{
    padding: .5rem;
   }

   .logoWidth{
    width: 100%;
    border-left: 0;
    padding-left: 0;
   }

   .tokenBox__logo{
    text-align: center;
    margin-bottom: -2.6rem;
   }

   .right button{
    width: 100%;
   }

   .right::after {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: #9a02ac;
    border-radius: 50%;
    top: 0rem;
    right: -4rem;
}

.userModal{
    right: -6rem;
    
}
    
}













